* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #090b1a, #1b2350, #3b145f);
  color: white;
  line-height: 1.7;
}

.hero {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  background:
    radial-gradient(circle at top left, rgba(255, 209, 102, 0.25), transparent 30%),
    radial-gradient(circle at bottom right, rgba(158, 230, 255, 0.2), transparent 30%);
}

.hero-box {
  padding: 45px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.12);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
}

.hero-box h1 {
  font-size: 4.5rem;
  color: #ffd166;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.hero-box p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero-box a {
  display: inline-block;
  text-decoration: none;
  background: #ffd166;
  color: #111827;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 40px auto;
}

.card {
  background: rgba(255, 255, 255, 0.13);
  padding: 30px;
  border-radius: 22px;
  margin-bottom: 25px;
  border-left: 6px solid #ffd166;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.card:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}

h2 {
  color: #ffd166;
  font-size: 2rem;
  margin-bottom: 15px;
}

h3 {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

h4 {
  color: #9ee6ff;
  margin-bottom: 10px;
}

.item {
  background: rgba(255, 255, 255, 0.08);
  padding: 18px;
  border-radius: 15px;
  margin-top: 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills span {
  background: #ffd166;
  color: #111827;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 25px;
  background: rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 600px) {
  .hero-box h1 {
    font-size: 2.8rem;
  }

  .hero-box {
    padding: 25px;
  }

  .container {
    width: 92%;
  }
}
